# SQL

#### SQL SERVER

In [ ]:
!pip install pyodbc

In [1]:
import pyodbc

In [2]:
conn_str = "Driver=SQL SERVER;Server={YOUR_SQLSERVER};Database={DATABASE};Trust_Coneection=yes;"

In [5]:
conn = pyodbc.connect(conn_str)

curr = conn.cursor()

curr.execute("SELECT * FROM Product WHERE id = ?", 1)
rows = curr.fetchall()
# curr.fetchone()
# curr.fetchmany(2)

for row in rows:
    print(row)

(1, 'GeForce RTX 4090', 1, Decimal('1000.0000'), 5, 'https://m.media-amazon.com/images/I/51c1zFDNVmL._AC_SL1003_.jpg')

In [ ]:
curr.execute("INSERT INTO Categories VALUES(?, ?)", ("cat1", "sdfsdf"))

curr.commit()

In [4]:
conn.close()

#### MYSQL

In [ ]:
!pip install mysql-connector-python

In [1]:
import mysql.connector

In [ ]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

curr = db.cursor()
curr.execute("CREATE DATABASE estore")

In [3]:
curr.execute("SHOW DATABASES")
for d in curr:
    print(d)

('estore',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="estore"
)
curr = db.cursor()

curr.execute("CREATE TABLE Product (name VARCHAR(255), description VARCHAR(500), price DECIMAL(4, 2))")

In [42]:
curr.reset()

In [11]:
curr.execute("SHOW TABLES")
for t in curr:
    print(t)

('Product',)

In [12]:
curr.reset()

In [36]:
sql = "INSERT INTO Product (name, description, price) VALUES(%s, %s, %s)"
# val = ("GeForce RTX 4090", "awesome", 10)
val = [
    ("GeForce RTX 4090", "awesome", 10),
    ("Intel Core i9-12kf", "awesome", 10)
]

# curr.execute(sql, val)
curr.executemany(sql, val)
db.commit()
curr.rowcount

2

In [44]:
curr.reset()
curr.execute("SELECT * From Product")

products = curr.fetchall()

for p in products:
    print(p)

('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('GeForce RTX 4090', 'awesome', Decimal('10.00'))
('Intel Core i9-12kf', 'awesome', Decimal('10.00'))